h1{
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h2,h3{
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f97042;
}

p{
    line-height: 1.5em;
}

img{
    border: 5px solid #fbb39b;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;

}

ul{
    display: inline-block;
    margin-left: 50px;
}